[MESSAGES CONTROL]
#disable=locally-disabled, locally-enabled



[FORMAT]
# Maximum number of character on a single line
# max-line-length=79



[REPORTS]


#reports=no


[MASTER]


#ignore=*_test.py

init-hook='import sys; sys.path.append(".")'

